@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
    height: 100%;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.form-card {
    @apply shadow-inner h-fit rounded-xl p-4 border border-neutral-100 border-solid flex flex-col gap-3;
    @apply transition-all duration-300 ease-in-out;
    @apply focus-within:border-blue-300;
}

.primary-btn {
    @apply px-3 py-1 text-sm bg-indigo-600 rounded-md text-white;
}

.input-text {
    @apply border border-neutral-200 p-2 rounded-md outline-none;
    @apply transition-all duration-300 ease-in-out;
    @apply focus:border-blue-300;
}

.text-blue {
    @apply text-blue-600;
}

.text-red {
    @apply text-red-600;
}

.text-green {
    @apply text-green-600;
}

.text-yellow {
    @apply text-yellow-600;
}
